.Content {
  margin-top: 72px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.Content select {
  font: inherit;
  font-size: 18px;
  width: 275px;
  height: 50px;
  margin: 20px 20px;
  padding: 5px 10px;
  background-color: #685bc7;
  text-align: center;
  text-align-last: center;
  color: white;
  border-radius: 8px;
}

@media (max-width: 600px) {
  .Content select {
    width: 95%;
    font-size: 24px;
  }
  .Content img {
    width: 210px;
    margin-bottom: 0;
  }
  .CardTitle {
    margin-top: 0;
    width: 200px;
    height: 50px;
    background-color: #1c1f2a;
    color: #a3accc;
    text-align: left;
    padding-left: 10px;
    line-height: 50px;
    border-top: 10px solid #2b2f40;
    border-radius: 0 0 6px 6px;
  }
  .Card {
    margin-left: 5%;
    margin-top: 2%;
  }

}
