.Content {
  margin-top: 72px;
}

.Content select {
  font: inherit;
  font-size: 18px;
  width: 278px;
  height: 48px;
  margin: 40px 0 0 15px;
  padding: 5px 10px;
  background-color: #685bc7;
  text-align: center;
  text-align-last: center;
  color: white;
  border-radius: 8px;
  align-content: flex-end;
}

.Content img {
  width: 216px;
  position: relative;
  margin-top: 50px;
}

.CardTitle {
  width: 200px;
  height: 50px;
  background-color: #1c1f2a;
  color: #a3accc;
  text-align: left;
  padding: 8px 0 0 16px;
  border-top: 8px solid #2b2f40;
  border-radius: 0 0 6px 6px;
  position: absolute;
  bottom: -50px;
}

.Card {
  position: relative;
  margin-left: 15px;
  margin-top: 10px;
  display: inline-block;
}

.Row {
  display: block;
}

@media (max-width: 600px) {
  .Content select {
    width: 95%;
    font-size: 24px;
  }
  .Content img {
    width: 210px;
    margin-bottom: 0;
  }
  .CardTitle {
    margin-top: 0;
    width: 200px;
    height: 50px;
    background-color: #1c1f2a;
    color: #a3accc;
    text-align: left;
    padding: 5px 0 0 10px;
    border-top: 8px solid #2b2f40;
    border-radius: 0 0 6px 6px;
  }
  .Card {
    margin-left: 5%;
    margin-top: 2%;
  }
}