.NavBar {
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 1px 10px 3px 0px rgba(0, 0, 0, .3);
  box-sizing: border-box;
  z-index: 90;
}

.NavBar nav {
  height: 100%;
}

.Logo {
  height: 80%;
}


@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }
}