.NavigationItem {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #1c1f2a;
  font-size: 16px;
}

.NavigationItem a {
  color: #a3accc;
  text-decoration: none;
  box-sizing: border-box;
  height: 100%;
  padding: 16px 10px;
  text-align: left;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  color: #685bc7;
}

.NavigationItem img {
  margin-left: 10px;
  color: #a3accc;
}

@media (max-width: 500px) {
  .NavigationItem {
    margin: 0;
    height: 100%;
    width: auto;
  }
  .NavigationItem a {
    font-size: 20px;
  }
  /* .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active {

  } */
}